@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Reggae+One&display=swap');
@font-face {
  font-family: 'LatYaySat';
  src: url('./assets/fonts/LatYaySat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Reggae One', sans-serif;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: #C1E2A4; /* Change this to any color you prefer */
}




